h1{
    text-align: center;  
}
h2{
    text-align: center;
}
h3{
    text-align:center;
}
p{
    text-align:center;
}
body{
    background-color: bisque;
}
ul {
    display: table;
    margin: 0 auto;
  }